{% extends 'base.html' %}

{% block title %}
Panel de Administrador
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='sass/admin.css') }}">
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alerta {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<script>
  function toggleMobileMenu() {
    const nav = document.getElementById('navegacion');
    nav.classList.toggle('active');
  }
</script>
<header>
  <div id="foto-logo">
    <a href="{{ url_for('panel_admin') }}" id="ruta">
      <img src="{{ url_for('static', filename='img/LOGO_DGT.png') }}" alt="Logo">
    </a>
  </div>
  <div id="hamburgesa" onclick="toggleMobileMenu()">
      <span></span><span></span><span></span>
  </div>
  <nav id="navegacion">
    <a href="{{ url_for('panel_admin') }}" id="ruta">Inicio</a>
    <a href="{{ url_for('poner_multa') }}" id="ruta">Poner multa</a>
    <a href="{{ url_for('logout') }}" id="ruta">Cerrar sesion</a>
  </nav>
</header>

<section class="admin-panel">
  <h2>Bienvenido, {{ current_user.nombre_completo }}</h2>
  <p>Desde aquí puedes gestionar el sistema de multas.</p>
</section>
<footer class="footer">
    <div class="footer-txt">
      dgtCMO.com © 2025. Todos los derechos reservados. |
      <a href="#">Política de Privacidad</a> |
      <a href="#">Política de Cookies</a> |
      <a href="#">Accesibilidad</a>
    </div>
    <div class="footer-icons">
      <a><i class="fab fa-facebook-f"></i></a>
      <a><i class="fab fa-instagram"></i></a>
    </div>
  </footer>
{% endblock %}
