{% extends 'base.html' %}
{% block body %}
{% for contact in data %}
<form action="/update/{{contact.0}}" method="POST">
    <h1>EDIT</h1>
    <div>
        {{form.nombre.label}}
        {{form.nombre(placeholder='Pon tu nombre')}}
    </div>
    <div>
        {{form.telefono.label}}
        {{form.telefono(placeholder='Pon tu telefono')}}
    </div>
    <div>
        {{form.descripcion.label}}
        {{form.descripcion(placeholder='Pon tu descripcion')}}
    </div>
    <button type="submit">UPDATE</button>
</form>

{% endfor %}
{% endblock %}