{% extends 'base.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='sass/cambiar_password.css') }}">
{% endblock %}

{% block body %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alerta {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
<header>
      <div id="foto-logo">
        <a href="{{ url_for('inicio') }}" id="ruta">
          <img src="{{ url_for('static', filename='img/LOGO_DGT.png') }}" alt="Logo">
        </a>
      </div>
      <div id="hamburgesa" onclick="toggleMobileMenu()">
        <span></span><span></span><span></span>
      </div>
      <nav id="navegacion">
        <a href="{{ url_for('inicio') }}" id="ruta">Inicio</a>
        <a href="{{ url_for('nuestros_servicios') }}" id="ruta">Nuestros servicios</a>
        <a href="https://infocar.dgt.es/etraffic/" id="ruta">Estado de trafico</a>
        <a href="{{ url_for('contacto') }}" id="ruta">Contactanos</a>
      </nav>
</header>
<div class="form-container">
  <h2>Recuperar contraseña</h2>
  <p>Introduce tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>

  <form method="POST">
    <label for="email">Correo electrónico:</label>
    <input type="email" name="email" required placeholder="tucorreo@ejemplo.com">
    <button type="submit">Enviar enlace</button>
  </form>
</div>
{% endblock %}
