{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='sass/register.css') }}">
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alerta {{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
<script>
  function toggleMobileMenu() {
    const nav = document.getElementById('navegacion');
    nav.classList.toggle('active');
  }
</script>
<header>
    <div id="foto-logo">
      <a href="{{ url_for('inicio') }}" id="ruta">
        <img src="{{ url_for('static', filename='img/LOGO_DGT.png') }}" alt="Logo">
      </a>
    </div>
    <div id="hamburgesa" onclick="toggleMobileMenu()">
      <span></span><span></span><span></span>
    </div>
    <nav id="navegacion">
      <a href="{{ url_for('inicio') }}" id="ruta">Inicio</a>
      <a href="{{ url_for('nuestros_servicios') }}" id="ruta">Nuestros servicios</a>
      <a href="https://infocar.dgt.es/etraffic/" id="ruta">Estado de trafico</a>
      <a href="{{ url_for('contacto') }}" id="ruta">Contactanos</a>
    </nav>
  </header>


<div id="contenido-principal">
  <div id="register-principal">
    <!-- IZQUIERDA -->
    <div id="register-izquierda">
      <h1>Bienvenido al Registro</h1>
      <p>Rellena el siguiente formulario para crear tu cuenta en nuestra sede electrónica de la DGT.</p>
      <img src="https://cdn-icons-png.flaticon.com/512/3410/3410318.png">
    </div>

    <!-- DERECHA -->
    <div id="register-derecha">
      <form method="POST">

         
            <label for="dni">DNI</label>
            <input type="text" name="dni" id="dni" required placeholder="Introduce tu DNI">
        
         
            <label for="nombre_completo">Nombre completo</label>
            <input type="text" name="nombre_completo" id="nombre_completo" required placeholder="Nombre y apellidos">
          
       

        <label for="correo">Correo electrónico</label>
        <input type="email" name="correo" id="correo" required placeholder="ejemplo@correo.com">

        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required placeholder="Crea una contraseña">

        <button type="submit">Registrarme</button>

        <div id="links">
          <a href="{{ url_for('login') }}">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
      </form>
    </div>
  </div>
</div>

<footer id="footer">
    <div id="footer-txt">
      dgtCMO.com © 2025. Todos los derechos reservados. |
      <a href="#">Política de Privacidad</a> |
      <a href="#">Política de Cookies</a> |
      <a href="#">Accesibilidad</a>
    </div>
    <div id="footer-icons">
      <a><i class="fab fa-facebook-f"></i></a>
      <a><i class="fab fa-instagram"></i></a>
    </div>
</footer>
{% endblock %}
