{% extends 'base.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='sass/reset_password.css') }}">
{% endblock %}

{% block body %}
<div class="form-container">
  <h2>Restablece tu contraseña</h2>
  <p>Introduce una nueva contraseña para tu cuenta.</p>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alerta {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="POST">
    <label for="password">Nueva contraseña:</label>
    <input type="password" name="password" required placeholder="••••••••">

    <button type="submit">Guardar nueva contraseña</button>
  </form>
</div>
{% endblock %}
